body {
  background: rgb(184, 184, 184);
}

/* CSS GRID */
.wrapper {
  background: rgb(238, 237, 196);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  font-family: 'Russo One', sans-serif;
  height: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template: repeat(7, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "h h h h"  /* header */
    "t t t t"  /* text area */
    "c c x d"  /* clear Multiply divide */
    "v e n s"  /* 7 8 9 subtract */
    "f i k a"  /* 4 5 6 add */
    "o w r q"  /* 1 2 3 = */
    "z z p q"; /* 0 0 . = */
}

.header {
  grid-area: h;
}

.textarea {
  grid-area: t;
}

.clear {
  grid-area: c;
}

.multiply {
  grid-area: x;
}

.divide {
  grid-area: d;
}

.seven {
  grid-area: v;
}

.eight {
  grid-area: e;
}

.nine {
  grid-area: n;
}

.subtract {
  grid-area: s;
}

.four {
  grid-area: f;
}

.five {
  grid-area: i;
}

.six {
  grid-area: k;
}

.add {
  grid-area: a;
}

.one {
  grid-area: o;
}

.two {
  grid-area: w;
}

.three {
  grid-area: r;
}

.equals {
  grid-area: q;
}

.zero {
  grid-area: z;
}

.point {
  grid-area: p;
}

/* End of CSS grid specific CSS */

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display_area {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: rgb(240, 237, 237);
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
}

.button {
  border-radius: 10px;
  background: rgb(185, 187, 189);
  cursor: pointer;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#equals-button {
  background: rgb(103, 163, 91);
}

#clear-button {
  background: rgb(245, 132, 132);
}

#result {
  margin: 0;
  width: 400px;
  text-align: right;
  overflow: hidden;
}

#miniResult {
  font-size: .8rem;
}