body {
  background: rgb(184, 184, 184);
}

/* CSS GRID */
.wrapper {
  background: rgb(238, 237, 196);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  font-family: 'Russo One', sans-serif;
  height: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template: repeat(7, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "h h h h"  /* header */
    "t t t t"  /* text area */
    "c c x d"  /* clear Multiply divide */
    "v e n s"  /* 7 8 9 subtract */
    "f i k a"  /* 4 5 6 add */
    "o w r q"  /* 1 2 3 = */
    "z z p q"; /* 0 0 . = */
}

.header {
  grid-area: h;
}

.textarea {
  grid-area: t;
}

.clear {
  grid-area: c;
}

.multiply {
  grid-area: x;
}

.divide {
  grid-area: d;
}

.seven {
  grid-area: v;
}

.eight {
  grid-area: e;
}

.nine {
  grid-area: n;
}

.subtract {
  grid-area: s;
}

.four {
  grid-area: f;
}

.five {
  grid-area: i;
}

.six {
  grid-area: k;
}

.add {
  grid-area: a;
}

.one {
  grid-area: o;
}

.two {
  grid-area: w;
}

.three {
  grid-area: r;
}

.equals {
  grid-area: q;
}

.zero {
  grid-area: z;
}

.point {
  grid-area: p;
}

/* End of CSS grid specific CSS */

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display_area {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: rgb(240, 237, 237);
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px #333;
  font-size: 2.5rem;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 150px 330px;
  grid-template-rows: 60px;
  justify-content: space-between;
}

#result {
  max-width: 100%;
  margin: 0;
  width: 400px;
  overflow: hidden;
  justify-self: right;
  text-align: end;
  line-height: 60px;
}

#miniResult {
  max-width: 100%;
  font-size: .7rem;
  opacity: 0.6;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  align-items: end;
  line-height: 80px;
  overflow: hidden;
}

.button {
  border-radius: 10px;
  background: rgb(185, 187, 189);
  cursor: pointer;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#equals-button {
  background: rgb(103, 163, 91);
}

#clear-button {
  background: rgb(245, 132, 132);
}

.footer {
  font-size: .8rem;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width:520px) {
  .display_area {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
  
  #result {
    width: auto;
    overflow: hidden;
    justify-self: right;
    text-align: end;
    line-height: 60px;
  }
  
  #miniResult {
    font-size: .5rem;
    opacity: 0.5;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0;
    align-items: end;
    line-height: 75px;
    overflow: hidden;
  }
}